/* Write your CSS here */
.summary-container {
  align-self: flex-end;
}

.order-summary-heading {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: #616e7c;
}

.total-cart-value {
  font-size: 24px;
  color: #171f46;
  font-weight: bold;
}

.total-items {
  font-family: 'Roboto';
  font-size: 14px;
  color: #616e7c;
}

.checkout-button {
  width: 100%;
  background-color: #0b69ff;
  padding: 8px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-family: 'Roboto';
  font-size: 14px;
}
